{% extends "admin/formulaire.html.twig" %}

{% block titre_formulaire %}
    {{ form.options.titre_formulaire ?? "Formulaire Livre" }}
{% endblock %}

{% block formulaire %}
    
    {{ form_start(form) }}
        {% if livre.couverture is not null %}
            <div class="row bg-secondary_">
                <img class="vignette col-md-1" src="{{ asset(url_images ~ "livres/" ~ livre.couverture) }}">
                <div class="col-md-11">
        {% endif %}

        {{ form_row(form.image) }}

        {% if livre.couverture is not null %}
                </div>
            </div>
        {% endif %}
                
        {{ form_row(form.auteur) }}
        {{ form_row(form.titre) }}
        <div class="d-flex justify-content-between mt-5">
            {{ form_row(form.enregistrer, { "class": "btn-secondary" }) }}
            <a href="{{ path('livre_index') }}" class="btn btn-warning form-group">
                <i class="fa fa-reply"></i>
                Annuler
            </a>
        </div>
    {{ form_end(form) }}

{% endblock %}



{# <h2> form(form) </h2>{{ form(form) }} #}


{# <h2> form_start(form)... form_end(form) </h2> {{ form_start(form) }} {{ form_end(form) }} #}


{# 
<h2> form_start(form)...form_widget(form)... form_end(form) </h2>
{% if livre.couverture is not null %}
    <img class="" src="{{ asset(url_images ~ "livres/" ~ livre.couverture) }}">
{% endif %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
 #}

{# <h2> form_start(form)...form_widget(form.field)... form_end(form) </h2> #}
