{% extends 'base_admin.html.twig' %}

{% block title %}Livres{% endblock %}


{% block body %}
    <h1>{% block h1 %}Liste des Livres{% endblock %}</h1>

    {% set lien = "" %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            {% include "livre/table.html.twig" with {
                "livres": livres, 
                "livres_empruntes": livres_empruntes, 
                "table_titre": "Catalogue : " ~ livres|length ~ " livres"
              } 
            %}
        </div>
        
        <div class="col-lg-5 col-md-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th colspan="100%" class="centrer">Livres non rendus</th>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <th>Titre</th>
                        <th>Date Emprunt</th>
                    </tr>
                </thead>

                <tbody>
                    {# Exo : Afficher la liste des livres non rendus #}
                    {% for livre in livres_empruntes %}
                        {# déclarer et affecter une variable #}
                        {% set nb = livre.emprunts|length - 1 %}
                        <tr>
                            <td>{{ livre.id }}</td>
                            <td>{{ livre.titre ~ " - " ~ livre.auteur }}</td>
                            <td>{{ livre.emprunts[nb].dateSortie|date("d/m/y") }}</td>
                            {# <td>{{ livre.emprunts|last.dateSortie|date("d/m/y") }}</td> #}
                        <tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    {#                 
                    {% for emprunt in empruntsNull %}
                        <tr>
                            <td>{{ emprunt.livre.id }}</td>
                            <td>{{ emprunt.livre.titre ~ " - " ~ emprunt.livre.auteur }}</td>
                            <td>{{ emprunt.dateSortie|date("d/m/y") }}</td>
                        <tr>
                    {% endfor %}
                    #}
                </tfoot>                
            </table>
        </div>
    </div>

{% endblock %}
