{% extends is_granted("ROLE_BIBLIOTHECAIRE") ? "base_admin.html.twig" : "base.html.twig" %}

{% block title %}Fiche Livre{% endblock %}

{% block body %}
    <h1>Fiche détaillée du livre</h1>

    <table class=" rayon">
        <tbody>
            <tr>
                <th class="thead-dark">Référence</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ livre.auteur|upper }}</td>
            </tr>
            <tr>
                <th>Couverture</th>
                <td><img class="img-thumbnail" src="{{ asset(url_images ~ "livres/") ~ livre.couverture }}"></td>
            </tr>
        </tbody>
    </table>

    {% if is_granted("ROLE_ADMIN") %}
        <div class="d-flex justify-content-between">
            <a href="{{ path('livre_index') }}">
                <i class="fa fa-reply"></i>
                Retour à la liste
            </a>
            <a href="{{ path('livre_edit', {'id': livre.id}) }}">
                <i  class="fa fa-edit"></i>
                Modifier
            </a>
            {% include 'livre/_delete_form.html.twig' with { "texte": true } %}
        </div>


    {% else %}
        <a href="{{ path('accueil') }}">
            <i class="fa fa-home"></i>
            Retour à l'accueil
        </a>
    {% endif %}
{% endblock %}
