<div class="card livre">
    <h4 class="card-header">{{ livre.titre }}</h4>

    <div class="row">
        <div class="col-4 d-flex align-items-center">
            <img class="card-img p-1" src="{{ asset(url_images_livres ~ livre.couverture) }}">
        </div>

        <div class="col-8">
            <div class="card-body">
                <p class="card-text">De : {{ livre.auteur }}</p>
                <p class="card-text">Edité en : {{ livre.datepublication ?? livre.datepublication|date("Y") }}
            </div>
        </div>
    </div>

    <div class="card-footer">
        {% if is_granted("ROLE_ADMIN") %}

            <a href="{{ path("livre_show", { id: livre.id}) }}" class="card-link">
                <i class="fa fa-book"></i> Voir plus
            </a>

        {% else %}
        
            <a href="{{ path("livre_afficher", { id: livre.id}) }}" class="card-link">
                <i class="fa fa-book"></i> Voir plus
            </a>
        
        {% endif %}
    </div>
</div>