{% extends 'base_admin.html.twig' %}

{% block title %}Détail Abonné{% endblock %}

{% block body %}
    <h1>Détail de l'abonné</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ abonne.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ abonne.prenom }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ abonne.roles ? abonne.roles|json_encode : '' }}
                    {% for niveau in abonne.roles %}
                        {% if niveau == "ROLE_ADMIN" %}
                            Directeur
                        {% elseif niveau == "ROLE_BIBLIOTHECAIRE" %}
                            Bibliothécaire
                        {% elseif niveau == "ROLE_USER" %}
                            Abonné
                        {% elseif niveau == "ROLE_LECTEUR" %}
                            Lecteur
                        {% else %}
                            Autre
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Mot de passe</th>
                <td>{{ abonne.password is not null ? "***" : "" }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between">

        <a href="{{ path('abonne_index') }}">
            <i class="fa fa-reply"></i>
            Retour à la liste
        </a>

        <a href="{{ path('abonne_edit', {'id': abonne.id}) }}">
            <i class="fa fa-edit"></i>
            Modifier
        </a>

        {{ include('abonne/_delete_form.html.twig') }}
    </div>
{% endblock %}
