    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Niveau</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonne in abonnes %}
            <tr>
                <td>{{ abonne.id }}</td>
                <td>{{ abonne.prenom }}</td>
                {# <td>{{ abonne.roles ? abonne.roles|json_encode</td> #}
                <td>{{ abonne.roles ? abonne.roles|join(", ")|replace({"ROLE_USER": "Lecteur", "ROLE_ADMIN": "Bibliothécaire"}) : '' }}</td>
                <td class="d-flex justify-content-between">
                    <a href="{{ path('abonne_show', {'id': abonne.id}) }}">
                        <i class="fa fa-user"></i>

                    </a>
                    <a href="{{ path('abonne_edit', {'id': abonne.id}) }}">
                        <i class="fa fa-edit"></i>
                    </a>

                    {{ include('abonne/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun abonné enregistré !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
