{% extends "admin/formulaire.html.twig" %}

{% block titre_formulaire %}
    {{ titre_formulaire ?? "Emprunt" }}
{% endblock %}

{% block formulaire %}
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="d-flex justify-content-between mt-5">
            <div class="form-group">
                <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
            </div>
            <a href="{{ path('emprunt_index') }}" class="btn btn-warning form-group">
                <i class="fa fa-reply"></i>
                Annuler
            </a>
        </div>
    {{ form_end(form) }}

{% endblock %}
